*{
    margin: 0;
    padding: 0;
}


.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */
}

.btn{
    padding: 16px 12px;
    background-color: #30B868;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover{
    background-color: rgb(203, 235, 166);
    color: #001931;
}

header{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 120px;
    background-color: white;
}

header nav .menu{
    list-style-type: none;
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
}

nav .menu li a{
    text-decoration: none;
    color: black;
}

#banner{
    text-align: center;
}

#banner .banner-container{
    padding: 115px 120px;
    width: 85%;
    max-width: 1600px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#banner .banner-container .btn-1{
    margin-bottom: 16px;
    color: #30B868;
    display: flex;
    justify-content: center;
    padding: 5px 6px;
    border-radius:1000px;
    border: none;
    font-size: 12px;
}

.btn-1:hover{
    background-color: #627382;
    color: white;
    cursor: pointer;
}

#banner .banner-container .title1{
    color: white;
    font-size: 55px;
    font-weight: bold;
}

#banner .banner-container .title2{
    color: #30B868;
    font-size: 55px;
    margin-bottom: 16px;
    font-weight: bold;
}

#banner .banner-container p{
    font-size: 18px;
    color: white;
    line-height: 24px;
    margin-bottom: 32px;
}

#banner .banner-container .btn-2{
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    padding: 16px 12px;
    margin-left: 10px;
}

#card-section{
    /* display: flex;
    justify-content: center; */
    align-items: center;
}

#card-section .card-desc{
    text-align: center;
    padding: 0px 120px;
}

#card-section .card-desc h3{
    font-size: 48px;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 16px;
    color: #001931;
}

#card-section .card-desc p{
    font-size: 12px;
    line-height: 20px;
    color: #627382;
}

.card-container{
    padding: 44px 120px 0px;
    display: flex;
    justify-content: center;
    gap: 24px;
}


.card-container .card{
    align-items: center;
    text-align: center;
    border: none;
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 40px gainsboro;
    width: 322px;
    padding: 70px 24px  21px;
}

.card-container .card img{
    margin-bottom: 16px;
}

.card-container .card h4{
    font-size: 24px;
    font-weight: 600px;
    margin-bottom: 16px;
    color: #001931;
}

.card-container .card p{
    font-size: 12px;
    line-height: 20px;
    color: #627382;
}

#solution-section{
    align-items: center;
    padding: 120px 120px;
}

#solution-section .solution-container{
    /* padding: 120px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}

.solution-container .img-container{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

.solution-container .solution-desc{
    width: 700px;
}

.solution-desc h5{
    color: #30B868;
    font-size: 16px;
    margin-bottom: 16px;
}

.solution-desc h3{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.solution-desc p{
    font-size: 12px;
    color: #627382;
    margin-bottom: 40px;
    line-height: 20px;
}

.solution-desc .option{
    list-style-type: none;
    font-size: 16px;
    color: #001931;
    font-weight: 600;

}
#access-section{
    align-items: center;
    /* padding: 0px 120px; */
}

#access-section .access-container{
    margin: 0px 180px 120px;
    align-items: center;
    background-color: #F7F6F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    border-radius: 12px;
}

.access-container h3{
    padding-top: 80px;
    color: #001931;
    font-size: 40px;
    font-weight: bold;
}

.access-container p{
    font-size: 12px;
    line-height: 24px;
    color: #627382;
    margin: 16px 0px;
}

#footer-section{
    background-color: #001931;
}

#footer-section .footer-container{
    padding: 120px 120px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-section hr{
    color: white;
    margin: 0px 120px;
}


.footer-container .footer-img{
    width: 139px;
    height: 60px;
}

.footer-container .social{
    color: white;
    font-size: 20px;
    font-weight: 600px;
    line-height: 28px;
}

.last-footer{
    margin: 20px 120px 0px;
    text-align: center;
    /* border-top: white; */
    color: #FAFAFA;
    line-height: 24px;
    font-size: 16px;
}
